._form {
  z-index: 10;
  width: 480px;
}

._mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

h1 {
  margin-top: 110px;
  margin-bottom: 16px;
  font-size: var(--subheading-md);
  font-weight: var(--font-extrabold);
}

._form {
  width: 480px;
}

._dropdownContainer {
  margin-top: 110px;
  text-align: center;
  width: 477px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

._firstTitle {
  margin: 20px 0px;
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
}
._secondTitle {
  font-weight: var(--font-bold);
  font-size: 20px;
  line-height: 19px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

._fourthTitle {
  font-weight: var(--font-regular);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}

._inputContainer {
  position: relative;
  min-width: 470px;
  font-size: var(--text-sm);
  color: var(--gray-900);
}

._inputContainer > i {
  position: absolute;
  top: 18px;
  left: 14px;
}

._inputContainer > input {
  padding: 8px 16px 8px 40px;
  margin-block: 6px;
  width: 100%;
  border: none;
  border-radius: var(--border-sm);
}

._inputContainer input:focus {
  outline: 1px solid var(--gray-300);
}

._inputContainer input::placeholder {
  font-size: var(--text-sm);
  color: var(--gray-300);
}

._inputContainer input:disabled {
  cursor: not-allowed;
}

._select {
  padding: 8px 16px 8px 40px;
  margin-block: 6px;
  width: 100%;
  border: none;
  border-radius: var(--border-sm);
}

._select:focus {
  outline: 1px solid var(--gray-300);
}

._buttonNext {
  width: 120px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

._buttonsWrapper {
  margin: 1px red solid;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}
._buttonInside {
  min-width: 120px;
}

._fail {
  color: var(--highlight);
}

@media (max-width: 678px) {
  ._form {
    width: 300px;
  }
}
