<<<<<<< HEAD
.services-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1054px;
  height: 595px;
  margin: 264px 293px 10px 293px;
  background: #e3e3fc;
  filter: box-shadow(
    0px 4.973333835601807px 12.433333396911621px 0px #0000001a
  );
  border-radius: 12px;
}

.bg {
  width: 370px;
  height: 480px;
  margin-left: 59px;
  background: #ffffff;
  border-radius: 12px;
}

img {
  margin: 20px;
  width: 44.76px;
  height: 44.76px;
  border-radius: 50%;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24.08px;
}

h2 {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-left: 20px;
}

.calendar {
  padding-right: 40px;
}
=======
>>>>>>> 7af1ebb518d00c193c3f98542abcdd079136be8f
