._select {
  padding: 8px 16px 8px 40px;
  margin-block: 6px;
  width: 100%;
  border: none;
  border-radius: var(--border-sm);
  font-size: var(--text-sm);
  color: var(--gray-300);
}

._select:focus {
  outline: 1px solid var(--gray-300);
}

._placeholder {
  position: relative;
  min-width: 470px;
}
