:root {
  --main-bg-color: #f9f9f9;
  --purple-500: #d2d1fc;
  --text-900: #1e1e1e;
  --text-300: #8a8a8a;
  --text-100: #e7e7e7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-900);
}
