._form {
  z-index: 10;
  width: 480px;
}

._inputContainer {
  position: relative;
  min-width: 470px;
  font-size: var(--text-sm);
  color: var(--gray-900);
}

._inputContainer > i {
  position: absolute;
  top: 18px;
  left: 14px;
}

._fail {
  color: var(--highlight);
}

@media (max-width: 678px) {
  ._form {
    width: 300px;
  }
}
